@import 'tailwindcss';

@theme {
  --color-white-muted: #f5f5f7;
  --shadow-card: 2px 4px 12px #00000014;
  --shadow-card-hover: 2px 4px 16px #00000029;
  --transform-card-hover: scale3d(1.01, 1.01, 1.01);
  --transition-card: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}

@layer utilities {
  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in-up {
    animation: fade-in-up 0.8s ease-out forwards;
  }
}
